

params { 
	projectName = "5hmC-single-end"
	outDir = "/home/bradlem4/beegfs/5hmC-se-output/REPL/"
	sample = ["REPL"]
	seqDir = "/home/bradlem4/beegfs/cutrun/trimmed_samples/"
	inpDir = "/home/bradlem4/beegfs/cutrun/trimmed_inputs/"
	qualityScore = 15
	adapterSeq = "adapters.fa"
	reference = "GRCh38/GRCh38_noalt_as"			
	genomebed = "GRCh38/genome.ref"
	blacklist = "blacklist.bed"
	dsInput = 62000000
	dsTarget = 8000000
}

process {
	executor = 'slurm'
	queue = 'defq'
	memory = 8.GB
	cpus = 4 
	beforeScript = 'module load R'
}
