
manifest.mainScript = 'peakcall.5hmc.nf'

params { 
	projectName = "5hmC"
	outDir = "/home/bradlem4/beegfs/5hmC-output/REPL/"
	sample = ["REPL"]
	seqDir = "/home/bradlem4/beegfs/cutrun/trimmed_samples/"
	inpDir = "/home/bradlem4/beegfs/cutrun/trimmed_inputs/"
	qualityScore = 15
	adapterSeq = "adapters.fa"
	reference = "GRCh38/GRCh38_noalt_as"		
	t4phage = "T4phage/"	
	genomebed = "GRCh38/genome.ref"
	blacklist = "blacklist.bed"
}

process {
	executor = 'slurm'
	queue = 'defq'
	memory = 8.GB
	cpus = 4 
	beforeScript = 'module load R'
}
